.theme-dark {
  --wc-frame: inset -1px -1px 0 0 var(--tertiary),
    inset 1px 1px 0 0 var(--primary), inset -2px -2px 0 0 var(--secondary),
    inset 2px 2px 0 0 var(--wc-bright, var(--highlight));

  --wc-outer-edge: inset -1px -1px 0 0 var(--tertiary),
    inset 1px 1px 0 0 var(--wc-bright, var(--highlight)),
    inset -2px -2px 0 0 var(--secondary), inset 2px 2px 0 0 var(--primary) !important;

  --wc-inner-edge: inset -1px -1px 0 0 var(--wc-bright, var(--highlight)),
    inset 1px 1px 0 0 var(--secondary), inset -2px -2px 0 0 var(--primary),
    inset 2px 2px 0 0 var(--tertiary);
}
.theme-light {
  --wc-frame: inset -1px -1px 0 0 var(--wc-bright, var(--highlight)),
    inset 1px 1px 0 0 var(--primary), inset -2px -2px 0 0 var(--tertiary),
    inset 2px 2px 0 0 var(--secondary);

  --wc-outer-edge: inset -1px -1px 0 0 var(--wc-bright, var(--highlight)),
    inset 1px 1px 0 0 var(--secondary), inset -2px -2px 0 0 var(--primary),
    inset 2px 2px 0 0 var(--tertiary);

  --wc-inner-edge: inset -1px -1px 0 0 var(--secondary),
    inset 1px 1px 0 0 var(--tertiary), inset -2px -2px 0 0 var(--primary),
    inset 2px 2px 0 0 var(--wc-bright, var(--highlight));
}

[class*="button_"][class*="lookFilled_"],
section[class^="panels_"]
  [class^="container_"]
  [class^="flex_"]
  button[class^="button_"],
[class^="toolbar_"] [class*="iconWrapper_"] {
  border-radius: 0;
  box-shadow: var(--wc-outer-edge) !important;
}
[class*="button_"][class*="lookFilled_"]:active,
section[class^="panels_"]
  [class^="container_"]
  [class^="flex_"]
  button[class^="button_"]:active {
  box-shadow: var(--wc-inner-edge) !important;
}
[class*="button_"][class*="lookFilled_"]:not([class*="color"]),
[class^="toolbar_"] [class*="iconWrapper_"] {
  background-color: var(--primary);
}

[class^="chat_"] > [class^="content_"] [class^="membersWrap_"] {
  padding: 2px;
  box-shadow: var(--wc-inner-edge);
  height: calc(100% - 4px);
  max-height: calc(100% - 4px);
}
[class^="messagesWrapper_"],
[class*="guilds_"],
[class^="sidebar_"] > nav > [class^="scroller_"] {
  padding: 2px;
  box-shadow: var(--wc-inner-edge);
}
[class^="chat_"] > [class^="content_"] > [class^="container_"],
[class^="chat_"] > [class^="content_"] > [class^="chatContent_"],
[class^="standardSidebarView_"] > [class^="contentRegion_"] {
  margin-left: 2px;
}

[class^="channelTextArea_"] > [class^="scrollableContainer_"],
[class^="chat_"]
  [class^="toolbar_"]
  > [class^="search_"]
  > [class^="search_"]
  > [class^="searchBar_"] {
  box-shadow: var(--wc-inner-edge);
  border-radius: 0;
}

[class^="chat_"] > [class^="content_"]:before {
  display: none !important;
}

[class^="standardSidebarView_"]
  > [class^="sidebarRegion_"]
  > [class^="sidebarRegionScroller_"],
[class^="standardSidebarView_"]
  > [class^="contentRegion_"]
  [class^="contentTransitionWrap_"] {
  padding: 2px;
  box-shadow: var(--wc-inner-edge);
}
[class^="standardSidebarView_"] > [class^="contentRegion_"],
[class^="standardSidebarView_"] > [class^="sidebarRegion_"] {
  margin-top: 2px;
}
[class^="standardSidebarView_"]
  > [class^="contentRegion_"]
  [class^="contentTransitionWrap_"] {
  height: calc(100% - 4px);
}

div[class^="sidebar_"] {
  border-left: 2px solid var(--primary);
}

[class*="guilds_"] [class^="guildSeparator_"] {
  height: 0;
  border-bottom: 1px solid var(--wc-bright, var(--highlight));
  border-top: 1px solid var(--secondary);
  border-radius: 0;
}

div[class^="sidebar_"]:not(:has(> [class^="side_"]))
  > nav[class^="container_"]
  > [class^="container_"][class*="clickable_"]
  > [class^="animatedContainer_"] {
  height: 48px;
}

div[class^="sidebar_"]:not(:has(> [class^="side_"]))
  > nav[class^="container_"]
  > [class^="container_"][class*="clickable_"]
  > [class^="animatedContainer_"]
  > [class^="bannerImage_"] {
  height: 48px;
}
div[class^="sidebar_"]:not(:has(> [class^="side_"]))
  > nav[class^="container_"]
  > [class^="container_"][class*="clickable_"]
  > [class^="animatedContainer_"]
  > [class^="bannerImage_"]:after {
  content: "";
  height: 48px;
  width: 240px;
  top: 0;
  left: 0;
  position: absolute;
  background: linear-gradient(
    0deg,
    var(--background-secondary) 5%,
    transparent 100%
  );
}

div[class^="sidebar_"]:not(:has(> [class^="side_"]))
  > nav[class^="container_"]
  > [class^="container_"][class*="clickable_"]
  > [class^="animatedContainer_"]
  [class^="bannerImg_"] {
  top: -67px;
  position: relative;
}

div[class^="sidebar_"]:not(:has(> [class^="side_"]))
  > nav[class^="container_"]
  > [class^="scroller_"]
  > ul
  > div[style="height: 84px;"] {
  height: 0 !important;
}

[class*="menu_"] {
  border-radius: 0 !important;
  padding: 2px;
  box-shadow: var(--wc-frame) !important;
}
[class*="menu_"] > [class^="scroller_"] {
  padding: 1px 1px 4px 1px !important;
  margin-right: -4px;
}
[class*="menu_"] > [class^="scroller_"] [class^="item_"] {
  border-radius: 0 !important;
  margin: 1px 0;
  padding: 0 2px !important;
}
[class*="menu_"]
  > [class^="scroller_"]
  [class^="customItem_"][id^="message-quickreact-"]
  > [class^="button_"] {
  border-radius: 0 !important;
  box-shadow: var(--wc-outer-edge);
}
[class*="menu_"] [class^="scroller_"] [class^="separator_"] {
  margin: 4px 1px;
  border-bottom: 1px solid var(--wc-bright, var(--highlight));
  border-top: 1px solid var(--secondary);
}
[class*="menu_"] > [class^="scroller_"] [class^="item_"] {
  min-height: 16px !important;
  font-size: 12px;
}
[class*="menu_"]
  > [class^="scroller_"]
  [class^="item_"]:not(
    :has(> [class^="iconContainer_"] > [class^="icon_"])
  ):not(:has(> [class^="iconContainerLeft_"])) {
  padding-inline-start: 20px !important;
}
[class*="menu_"]
  > [class^="scroller_"]
  [class^="item_"]:has(> [class^="iconContainer_"] > [class^="icon_"]) {
  flex-direction: row-reverse;
}
[class*="menu_"]
  > [class^="scroller_"]
  [class^="item_"]
  > [class^="iconContainer_"]:has(> [class^="icon_"]),
[class*="menu_"]
  > [class^="scroller_"]
  [class^="item_"]
  > [class^="iconContainerLeft_"] {
  margin-left: 0;
  margin-right: 2px;
}
[class*="menu_"]
  > [class^="scroller_"]
  [class^="item_"]
  > [class^="label_"]
  > [class^="subtext_"] {
  line-height: 12px;
  margin-top: 0;
}

[class*="menu_"]
  > [class^="scroller_"]
  [class^="item_"]
  > [class^="iconContainer_"],
[class*="menu_"]
  > [class^="scroller_"]
  [class^="item_"]
  > [class^="iconContainer_"]
  > svg {
  width: 16px;
  height: 16px;
}
[class*="menu_"]
  > [class^="scroller_"]
  [class^="item_"]
  > [class^="hintContainer_"] {
  margin-right: 18px;
}
[class*="menu_"]
  > [class^="scroller_"]
  [class^="item_"][aria-haspopup="true"]
  > [class^="iconContainer_"]
  > [class^="caret_"] {
  display: none;
}
[class*="menu_"]
  > [class^="scroller_"]
  [class^="item_"][aria-haspopup="true"]
  > [class^="iconContainer_"]:before {
  content: "";
  position: absolute;
  right: -2px;
  top: 0px;
  width: 16px;
  height: 16px;
  background-color: var(--text);
  mask-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAcAAAAHCAYAAADEUlfTAAAAAXNSR0IArs4c6QAAAARnQU1BAACxjwv8YQUAAAAJcEhZcwAADsMAAA7DAcdvqGQAAAAmSURBVBhXY4CC/1AaKwBJ4lQAk8SqAFkSQwFOCRDAKQECWCQYGACCnQ/xc1GbJAAAAABJRU5ErkJgggAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA==");
  -webkit-mask-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAcAAAAHCAYAAADEUlfTAAAAAXNSR0IArs4c6QAAAARnQU1BAACxjwv8YQUAAAAJcEhZcwAADsMAAA7DAcdvqGQAAAAmSURBVBhXY4CC/1AaKwBJ4lQAk8SqAFkSQwFOCRDAKQECWCQYGACCnQ/xc1GbJAAAAABJRU5ErkJgggAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA==");
  mask-repeat: no-repeat;
  mask-position: center;
  -webkit-mask-repeat: no-repeat;
  -webkit-mask-position: center;
}
[class*="menu_"]
  > [class^="scroller_"]
  [class^="item_"][role="menuitemcheckbox"]
  > [class^="iconContainer_"]
  > svg[class^="icon_"] {
  display: none;
}
[class*="menu_"]
  > [class^="scroller_"]
  [class^="item_"][role="menuitemcheckbox"][aria-checked="true"]
  > [class^="iconContainer_"]:before {
  content: "";
  position: absolute;
  right: 0px;
  top: 1px;
  width: 16px;
  height: 16px;
  background-color: var(--text);
  mask-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAcAAAAHCAYAAADEUlfTAAAAAXNSR0IArs4c6QAAAARnQU1BAACxjwv8YQUAAAAJcEhZcwAADsMAAA7DAcdvqGQAAAArSURBVBhXY8AD/kNpDACSAEuiq4BJwCVhClAkQABZAEUCBnBKwACaBAMDANZXFOzc7AnWAAAAAElFTkSuQmCCAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA==");
  -webkit-mask-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAcAAAAHCAYAAADEUlfTAAAAAXNSR0IArs4c6QAAAARnQU1BAACxjwv8YQUAAAAJcEhZcwAADsMAAA7DAcdvqGQAAAArSURBVBhXY8AD/kNpDACSAEuiq4BJwCVhClAkQABZAEUCBnBKwACaBAMDANZXFOzc7AnWAAAAAElFTkSuQmCCAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA==");
  mask-repeat: no-repeat;
  mask-position: center;
  -webkit-mask-repeat: no-repeat;
  -webkit-mask-position: center;
}
[class*="menu_"]
  > [class^="scroller_"]
  [class^="item_"][role="menuitemradio"]
  > [class^="iconContainer_"]
  > svg[class^="icon_"] {
  display: none;
}
[class*="menu_"]
  > [class^="scroller_"]
  [class^="item_"][role="menuitemradio"][aria-checked="true"]
  > [class^="iconContainer_"]:before {
  content: "";
  position: absolute;
  right: -1px;
  top: 0px;
  width: 16px;
  height: 16px;
  background-color: var(--text);
  mask-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAYAAAAGCAYAAADgzO9IAAAAAXNSR0IArs4c6QAAAARnQU1BAACxjwv8YQUAAAAJcEhZcwAADsMAAA7DAcdvqGQAAAAiSURBVBhXY4CC/2gYDNAFYRirIAhjFQRhrIIgDAZoggwMACftH+F43ykVAAAAAElFTkSuQmCCAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA==");
  -webkit-mask-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAYAAAAGCAYAAADgzO9IAAAAAXNSR0IArs4c6QAAAARnQU1BAACxjwv8YQUAAAAJcEhZcwAADsMAAA7DAcdvqGQAAAAiSURBVBhXY4CC/2gYDNAFYRirIAhjFQRhrIIgDAZoggwMACftH+F43ykVAAAAAElFTkSuQmCCAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA==");
  mask-repeat: no-repeat;
  mask-position: center;
  -webkit-mask-repeat: no-repeat;
  -webkit-mask-position: center;
}
[class*="menu_"]
  > [class^="scroller_"]
  [class^="item_"][aria-haspopup="true"]:hover
  > [class^="iconContainer_"]:before,
[class*="menu_"]
  > [class^="scroller_"]
  [class^="item_"][role="menuitemcheckbox"][aria-checked="true"]:hover
  > [class^="iconContainer_"]:before,
[class*="menu_"]
  > [class^="scroller_"]
  [class^="item_"][role="menuitemradio"][aria-checked="true"]:hover
  > [class^="iconContainer_"]:before {
  background-color: white;
}

[class*="menu_"]
  > [class^="scroller_"]
  [class^="item_"][aria-disabled="true"]
  > [class^="label_"],
[class*="menu_"]
  > [class^="scroller_"]
  [class^="item_"][aria-disabled="true"]
  > [class^="label_"]
  > [class^="subtext_"] {
  color: var(--secondary);
  text-shadow: 1px 1px 0 var(--wc-bright, var(--highlight));
}
[class^="submenu_"] > [class^="scroller_"] > [class^="listHeight_"][a="a"] {
  height: unset !important;
}
[class^="submenuPaddingContainer_"] {
  padding: 0;
  margin: -4px;
}

[class*="menu_"]
  > [class^="scroller_"]
  [class^="item_"]
  > [class^="label_"]
  > [class^="roleRow_"]
  > [class^="roleCircle_"] {
  width: 12px;
  height: 12px;
  border-radius: 0;
  border-top: 1px solid var(--text);
  border-left: 1px solid var(--text);
  margin: 0;
  margin-right: 2px;
}

[class^="scroller_"]:not([class*="none_"]):not([class*="thin_"]):not(
    :not(:hover)[class*="fade_"]
  )::-webkit-scrollbar,
[class*="scrollerBase_"]:not([class*="none_"]):not([class*="thin_"]):not(
    :not(:hover)[class*="fade_"]
  )::-webkit-scrollbar {
  min-width: 16px;
  width: 16px;
}

[class^="scroller_"]:not([class*="thin_"])::-webkit-scrollbar-track,
[class*="scrollerBase_"]:not([class*="thin_"])::-webkit-scrollbar-track {
  background-color: var(--wc-bright, var(--highlight));
  border: none;
  border-radius: 0;
  margin: 0;
}
[class^="scroller_"]::-webkit-scrollbar-thumb,
[class*="scrollerBase_"]::-webkit-scrollbar-thumb,
[class^="scroller_"]:not(
    [class*="thin_"]
  )::-webkit-scrollbar-button:single-button,
[class*="scrollerBase_"]:not(
    [class*="thin_"]
  )::-webkit-scrollbar-button:single-button {
  border-radius: 0 !important;
  background: var(--primary) !important;
  box-shadow: var(--wc-frame);
  border: none !important;
}

[class^="scroller_"][class*="fade_"]:not(
    [class*="thin_"]
  )::-webkit-scrollbar-button:single-button,
[class*="scrollerBase_"][class*="fade_"]:not(
    [class*="thin_"]
  )::-webkit-scrollbar-button:single-button {
  visibility: hidden;
}
[class^="scroller_"][class*="fade_"]:not(
    [class*="thin_"]
  ):hover::-webkit-scrollbar-button:single-button,
[class*="scrollerBase_"][class*="fade_"]:not(
    [class*="thin_"]
  ):hover::-webkit-scrollbar-button:single-button {
  visibility: visible;
}

[class^="scroller_"]::-webkit-scrollbar-button:single-button:active,
[class*="scrollerBase_"]::-webkit-scrollbar-button:single-button:active {
  box-shadow:
    inset 1px 1px var(--secondary),
    inset -1px -1px var(--secondary);
}
[class^="scroller_"]:not(
    [class*="thin_"]
  )::-webkit-scrollbar-button:single-button:vertical:decrement,
[class*="scrollerBase_"]:not(
    [class*="thin_"]
  )::-webkit-scrollbar-button:single-button:vertical:decrement {
  background-repeat: no-repeat !important;
  background-image: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIxNSIgaGVpZ2h0PSIxNSIgdmlld0JveD0iMCAwIDE1IDE1Ij4NCgk8cmVjdCBoZWlnaHQ9IjEiIHdpZHRoPSI3IiB5PSI4IiB4PSIzIiBmaWxsPSJtZW51dGV4dCIvPjxyZWN0IGhlaWdodD0iMSIgd2lkdGg9IjUiIHg9IjQiIHk9IjciIGZpbGw9Im1lbnV0ZXh0Ii8+PHJlY3QgaGVpZ2h0PSIxIiB3aWR0aD0iMyIgeT0iNiIgeD0iNSIgZmlsbD0ibWVudXRleHQiLz48cmVjdCB3aWR0aD0iMSIgaGVpZ2h0PSIxIiB5PSI1IiB4PSI2IiBmaWxsPSJtZW51dGV4dCIvPg0KCQ0KCQ0KPC9zdmc+") !important;
  background-position: center center !important;
}
[class^="scroller_"]:not(
    [class*="thin_"]
  )::-webkit-scrollbar-button:single-button:vertical:increment,
[class*="scrollerBase_"]:not(
    [class*="thin_"]
  )::-webkit-scrollbar-button:single-button:vertical:increment {
  background-repeat: no-repeat !important;
  background-image: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIGhlaWdodD0iMTUiIHdpZHRoPSIxNSIgdmlld0JveD0iMCAwIDE1IDE1Ij4NCgk8cmVjdCBoZWlnaHQ9IjEiIHdpZHRoPSI3IiB4PSIzIiB5PSI1IiBmaWxsPSJtZW51dGV4dCIvPjxyZWN0IGhlaWdodD0iMSIgd2lkdGg9IjUiIHk9IjYiIHg9IjQiIGZpbGw9Im1lbnV0ZXh0Ii8+PHJlY3QgaGVpZ2h0PSIxIiB3aWR0aD0iMyIgeD0iNSIgeT0iNyIgZmlsbD0ibWVudXRleHQiLz48cmVjdCB3aWR0aD0iMSIgaGVpZ2h0PSIxIiB4PSI2IiB5PSI4IiBmaWxsPSJtZW51dGV4dCIvPg0KCQ0KCQ0KPC9zdmc+") !important;
  background-position: center center !important;
}

[class^="scroller_"]::-webkit-scrollbar-button:single-button,
[class*="scrollerBase_"]::-webkit-scrollbar-button:single-button {
}
[class^="scroller_"]:not(
    [class*="thin_"]
  )::-webkit-scrollbar-button:single-button:vertical:decrement,
[class*="scrollerBase_"]:not(
    [class*="thin_"]
  )::-webkit-scrollbar-button:single-button:vertical:decrement {
  border-width: 0 8px 8px 8px;
  border-color: transparent transparent var(--text) transparent;
}

.postnet-expanded-category,
.postnet-repo-wrapper,
[class^="inner_"]:has(> input),
[class^="inputWrapper_"] > [class*="input_"],
[class^="colorSwatch_"] > [class^="swatch_"][aria-expanded="true"] {
  border: none !important;
  border-radius: 0 !important;
  box-shadow: var(--wc-inner-edge);
}
[class^="colorSwatch_"] > [class^="swatch_"] {
  border: none !important;
  border-radius: 0 !important;
  box-shadow: var(--wc-outer-edge);
}

[class^="inputWrapper_"] > [class*="input_"] {
  padding: 2px 2px 2px 4px;
  height: 22px;
}

[class^="select_"][class*="lookFilled_"] {
  border: none !important;
  border-radius: 0 !important;
  box-shadow: var(--wc-inner-edge);
  padding: 2px 2px 2px 4px;
}
[class^="select_"][class*="lookFilled_"] > [class^="icons_"] {
  margin: 2px;
}
[class^="select_"][class*="lookFilled_"] > [class^="icons_"] > svg {
  background: var(--primary);
  box-shadow: var(--wc-outer-edge);
  width: 16px;
  height: 16px;
}
[class^="select_"][class*="lookFilled_"][class*="open_"]
  > [class^="icons_"]
  > svg {
  box-shadow: var(--wc-inner-edge);
}
[class^="popout_"][role="listbox"] > [class^="option_"] {
  padding: 2px 2px 2px 4px;
  margin: 2px 0;
}
[class^="popout_"][role="listbox"] > [class^="option_"]:hover {
  background-color: var(--accent);
}

[class^="userPopoutOuter_"] {
  padding: 2px !important;
  background: var(--primary) !important;
  border-radius: 0 !important;
  box-shadow: var(--wc-outer-edge);
}
[class^="userPopoutOuter_"] > [class^="userPopoutInner_"],
[class^="userPopoutOuter_"]
  > [class^="userPopoutInner_"]
  > [class^="userPopoutOverlayBackground_"] {
  background: transparent;
}
[class^="userPopoutOuter_"] > [class^="userPopoutInner_"]:before {
  display: none;
}
[class^="userPopoutOuter_"]
  > [class^="userPopoutInner_"]
  > [class*="avatarWrapper_"] {
  top: 26px;
  left: 8px;
}
[class^="userPopoutOuter_"]
  > [class^="userPopoutInner_"]
  > [class*="avatarWrapper_"]
  > [class^="avatarHoverTarget_"]
  > [class^="wrapper_"] {
  width: 56px !important;
  height: 56px !important;
}
[class^="userPopoutOuter_"]
  > [class^="userPopoutInner_"]
  > [class*="avatarWrapper_"]
  [class*="avatarHint_"] {
  width: 48px !important;
  height: 48px !important;
}
[class^="userPopoutOuter_"]
  > [class^="userPopoutInner_"]
  > [class*="avatarWrapper_"]
  > [class^="avatarHoverTarget_"]
  > [class^="wrapper_"]
  > svg {
  width: 55px !important;
  height: 55px !important;
}
[class^="userPopoutOuter_"][class*="userProfileOuterThemed_"]:after {
  position: absolute;
  top: 2px;
  left: 2px;
  content: "";
  width: calc(100% - 4px);
  height: 18px;
  background: linear-gradient(
    to right,
    var(--profile-gradient-primary-color),
    var(--profile-gradient-secondary-color)
  );
}
[class^="userPopoutOuter_"][class*="userProfileOuterUnthemed_"]
  > [class^="userPopoutInner_"]
  [class^="banner_"] {
  height: 18px !important;
}
[class^="userPopoutOuter_"][class*="userProfileOuterThemed_"]
  > [class^="userPopoutInner_"][class*="userProfileInnerThemedWithBanner_"]
  [class^="banner_"] {
  margin-top: 19px;
  border-radius: 0;
}
[class^="userPopoutOuter_"][class*="userProfileOuterThemed_"]
  > [class^="userPopoutInner_"][class*="userProfileInnerThemedWithBanner_"]
  [class^="banner_"]:after {
  content: "";
  background: linear-gradient(to bottom, transparent 32px, var(--primary) 64px);
  width: 340px;
  height: 120px;
  position: absolute;
  top: 19px;
  left: 0;
}
[class^="userPopoutOuter_"][class*="userProfileOuterThemed_"]
  > [class^="userPopoutInner_"][class*="userProfileInnerThemedPremiumWithoutBanner_"]
  [class^="banner_"] {
  display: none;
}
[class^="userPopoutOuter_"]
  > [class^="userPopoutInner_"]
  > [class^="userPopoutOverlayBackground_"] {
  margin: 0 !important;
  overflow: visible;
}
[class^="userPopoutOuter_"]
  > [class^="userPopoutInner_"][class*="userProfileInnerThemedWithBanner_"]
  > [class^="userPopoutOverlayBackground_"] {
  margin-top: -72px !important;
}
[class^="userPopoutOuter_"]
  > [class^="userPopoutInner_"][class*="userProfileInnerThemedPremiumWithoutBanner_"]
  > [class^="userPopoutOverlayBackground_"] {
  margin-top: -48px !important;
}
[class^="userPopoutOuter_"][class*="userProfileOuterUnthemed_"]
  > [class^="userPopoutInner_"]
  > [class^="userPopoutOverlayBackground_"] {
  margin-top: -78px !important;
}
[class^="userPopoutOuter_"]
  > [class^="userPopoutInner_"][class*="userProfileInnerThemedWithBanner_"]
  [class*="usernameSection_"] {
  padding: 0 !important;
  position: absolute;
  top: -60px;
  left: 64px;
}
[class^="userPopoutOuter_"]
  > [class^="userPopoutInner_"][class*="userProfileInnerThemedPremiumWithoutBanner_"]
  [class*="usernameSection_"] {
  padding: 0 !important;
  position: absolute;
  top: -56px;
  left: 64px;
}
[class^="userPopoutOuter_"][class*="userProfileOuterUnthemed_"]
  > [class^="userPopoutInner_"]
  [class*="usernameSection_"] {
  padding: 0 !important;
  position: absolute;
  top: -54px;
  left: 64px;
}
[class^="userPopoutOuter_"]
  > [class^="userPopoutInner_"]
  [class*="usernameSection_"]
  > div {
  display: flex;
  flex-direction: row !important;
  align-items: center;
}
[class^="userPopoutOuter_"]
  > [class^="userPopoutInner_"]
  [class*="usernameSection_"]
  > div
  > [class^="userText_"]
  > h1 {
  font-size: 16px !important;
  line-height: 16px !important;
  text-shadow: 1px 1px 0 var(--primary);
}
[class^="userPopoutOuter_"]
  > [class^="userPopoutInner_"]
  [class*="usernameSection_"]
  [class^="userText_"]
  > div
  > [class*="userTag_"] {
  line-height: 16px;
  width: max-content;
}
[class^="userPopoutOuter_"]
  > [class^="userPopoutInner_"]
  [class*="usernameSection_"]
  [class^="userText_"]
  > div
  > [class*="userTag_"]
  > span {
  text-shadow: 1px 1px 0 var(--primary);
  font-size: 12px;
  padding-left: 2px;
}
[class^="userPopoutOuter_"]
  > [class^="userPopoutInner_"]
  [class*="usernameSection_"]
  [class^="userText_"]
  > div {
  position: absolute;
  top: -26px;
  left: -62px;
  z-index: 10;
  flex-direction: row-reverse !important;
}
[class^="userPopoutOuter_"][class*="userProfileOuterUnthemed_"]
  > [class^="userPopoutInner_"]
  [class*="usernameSection_"]
  [class^="userText_"]
  > div {
  position: absolute;
  top: -26px;
}
[class^="userPopoutOuter_"]
  > [class^="userPopoutInner_"][class*="userProfileInnerThemedPremiumWithoutBanner_"]
  [class*="usernameSection_"]
  [class^="userText_"]
  > div {
  position: absolute;
  top: -24px;
}
[class^="userPopoutOuter_"]
  > [class^="userPopoutInner_"]
  [class*="usernameSection_"]
  [class^="userText_"]
  > div
  .platform-icons-wrapper {
  margin-left: 0 !important;
}
[class^="userPopoutOuter_"]
  > [class^="userPopoutInner_"]
  [class*="usernameSection_"]
  > div
  > [class*="pronouns_"] {
  font-size: 12px;
  line-height: 12px;
  padding-top: 0;
  margin-left: 4px;
  opacity: 0.75;
  text-shadow: 1px 1px 0 var(--primary);
}
[class^="userPopoutOuter_"][class*="userProfileOuterThemed_"]
  > [class^="userPopoutInner_"][class*="userProfileInnerThemedWithBanner_"]
  [class*="customStatusSection_"] {
  padding: 0 !important;
  position: absolute;
  top: -38px;
  left: 64px;
}
[class^="userPopoutOuter_"][class*="userProfileOuterUnthemed_"]
  > [class^="userPopoutInner_"]
  [class*="customStatusSection_"] {
  padding: 0 !important;
  position: absolute;
  top: -30px;
  left: 64px;
}
[class^="userPopoutOuter_"]
  > [class^="userPopoutInner_"][class*="userProfileInnerThemedPremiumWithoutBanner_"]
  [class*="customStatusSection_"] {
  padding: 0 !important;
  position: absolute;
  top: -32px;
  left: 64px;
}
[class^="userPopoutOuter_"]
  > [class^="userPopoutInner_"]
  [class*="customStatusSection_"]
  > [class^="customStatus_"] {
  font-size: 12px;
  line-height: 12px;
  text-shadow: 1px 1px 0 var(--primary);
  display: flex;
  flex-direction: row !important;
  align-items: center;
}
[class^="userPopoutOuter_"]
  > [class^="userPopoutInner_"]
  [class*="customStatusSection_"]
  > [class^="customStatus_"]
  > [class*="customStatusEmoji_"] {
  width: 16px;
  height: 16px;
}
[class^="userPopoutOuter_"]
  > [class^="userPopoutInner_"]
  [class*="customStatusSection_"]
  > [class^="customStatus_"]
  > [class^="customStatusText_"] {
  max-height: 24px;
  overflow: hidden;
  text-overflow: ellipsis;
}
[class^="userPopoutOuter_"]
  > [class^="userPopoutInner_"]
  [class^="section_"]:has(> .mutual-guilds) {
  padding-top: 0;
}
[class^="userPopoutOuter_"]
  > [class^="userPopoutInner_"]
  > [class^="profileBadges_"] {
  visibility: hidden;
  height: 30px !important;
}
[class^="userPopoutOuter_"]
  > [class^="userPopoutInner_"]
  > [class^="bannerSVGWrapper_"][viewbox$=" 60"] {
  margin-bottom: 60px;
}
