[class*="chat_"] [class*="chatContent_"] form {
  position: relative;
  margin: 0;
}

[class*="chat_"] form [class*="typing_"] {
  position: absolute;
  top: -2px;
  left: 10px;
}

[class*="channelTextArea_"] {
  margin-bottom: 10px !important;
  margin-top: 24px !important;
  padding: 0 !important;
}

[class*="channelTextArea_"] [class*="inner_"] {
  border-radius: 6px;
}

[class*="sansAttachButton_"] {
  padding-left: 10px !important;
}

.typing .ellipsis,
[class*="typing_"] span[class*="ellipsis_"] {
  display: none;
}

form [class*="typing_"] {
  background-color: transparent !important;
}

[class^="scrollerSpacer_"] {
  height: 4px !important;
}

[class^="chatContent_"] > form:before {
  display: none !important;
}

[class^="chatContent_"] > form {
  padding: 0 !important;
  bottom: 0;
}
[class^="chatContent_"] > form [class^="channelTextArea"] {
  margin-bottom: 0 !important;
}
[class^="chatContent_"]
  > form
  [class^="channelTextArea"]
  > [class^="scrollableContainer_"] {
  border-radius: 0 !important;
  border: 0 !important;
}

[class^="chatContent_"]
  > form
  [class^="channelTextArea"]
  > [class^="scrollableContainer_"]
  > [class^="inner_"]
  > [class^="textArea_"],
[class^="chatContent_"]
  > form
  [class^="channelTextArea"]
  > [class^="scrollableContainer_"]
  > [class^="inner_"]
  > [class^="buttons_"],
[class^="chatContent_"]
  > form
  [class^="channelTextArea"]
  > [class^="scrollableContainer_"]
  > [class^="inner_"]
  > [class^="attachWrapper_"],
[class^="chatContent_"]
  > form
  [class^="channelTextArea"]
  > [class^="scrollableContainer_"]
  > [class^="inner_"]
  > [class^="attachWrapper_"]
  > [class^="attachButton_"] {
  min-height: 53px;
}
[class^="chatContent_"]
  > form
  [class^="channelTextArea"]
  > [class^="scrollableContainer_"]
  > [class^="inner_"]
  > [class^="textArea_"]
  > div
  > [class*="fontSize16Padding_"] {
  padding-top: 15px !important;
  padding-bottom: 15px !important;
}
[class^="chatContent_"]
  > form
  [class^="channelTextArea"]
  > [class^="scrollableContainer_"]
  > [class^="inner_"]
  > [class^="buttons_"]
  [class*="emojiButton_"] {
  max-height: unset;
}
[class^="messagesWrapper_"] {
  margin-bottom: 8px;
}
