[class*="chat_"] [class*="chatContent_"] form {
  position: relative;
  margin: 0;
}

[class*="chat_"] form [class*="typing_"] {
  position: absolute;
  top: -2px;
  left: 10px;
}

[class*="channelTextArea_"] {
  margin-bottom: 10px !important;
  margin-top: 24px !important;
  padding: 0 !important;
}

[class*="channelTextArea_"] [class*="inner_"] {
  border-radius: 6px;
}

[class*="sansAttachButton_"] {
  padding-left: 10px !important;
}

.typing .ellipsis,
[class*="typing_"] span[class*="ellipsis_"] {
  display: none;
}

form [class*="typing_"] {
  background-color: transparent !important;
}

[class^="scrollerSpacer_"] {
  height: 8px !important;
}

[class^="chatContent_"] > form:before {
  display: none !important;
}
