.theme-dark {
  --_color0: #484f58;
  --_color1: #f85149;
  --_color2: #3fb950;
  --_color3: #d29922;
  --_color4: #58a6ff;
  --_color5: #bc8cff;
  --_color6: #39c5cf;
  --_color7: #b1bac4;

  --_color8: #6e7681;
  --_color9: #ff7b72;
  --_color10: #56d364;
  --_color11: #e3b341;
  --_color12: #79c0ff;
  --_color13: #d2a8ff;
  --_color14: #56d4dd;
  --_color15: #f0f6fc;

  --_colorFG: var(--_color7);

  --primary: #000000;
  --secondary: #000000;
  --tertiary: #000000;
  --primary-rgb: 0, 0, 0;
  --secondary-rgb: 0, 0, 0;
  --tertiary-rgb: 0, 0, 0;

  --accent: #9c4249;
  --accent-rgb: 111, 47, 49;
  --red: #f04747;
  --text: #dcddde;
  --link: #50f148;
  --highlight: #232323;
  --highlight-rgb: 35, 35, 35;

  --status-online: #43b581 !important;
  --status-idle: #faa61a !important;
  --status-dnd: #f04747 !important;
  --status-offline: #747f8d !important;
  --status-streaming: #593695 !important;

  --titlebar-color: #060606;
}

#splash {
  background-color: #000000;
}
