.theme-dark {
  --_color0: #494d64;
  --_color1: #ed8796;
  --_color2: #a6da95;
  --_color3: #eed49f;
  --_color4: #8aadf4;
  --_color5: #f5bde6;
  --_color6: #8bd5ca;
  --_color7: #b8c0e0;

  --_color8: #5b6078;
  --_color9: #ed8796;
  --_color10: #a6da95;
  --_color11: #eed49f;
  --_color12: #8aadf4;
  --_color13: #f5bde6;
  --_color14: #8bd5ca;
  --_color15: #a5adcb;

  --_colorFG: #cad3f5;

  --primary: #24273a;
  --secondary: #1e2030;
  --tertiary: #181926;
  --primary-rgb: 36, 39, 58;
  --secondary-rgb: 30, 32, 48;
  --tertiary-rgb: 35, 38, 52;

  --accent: #8aadf4;
  --accent-rgb: 138, 173, 244;
  --red: var(--_color1);
  --text: var(--_colorFG);
  --link: var(--_color14);
  --highlight: #a5adcb;
  --highlight-rgb: 165, 173, 203;

  --status-online: var(--_color2) !important;
  --status-idle: var(--_color3) !important;
  --status-dnd: var(--_color1) !important;
  --status-offline: var(--_color8) !important;
  --status-streaming: var(--_color5) !important;

  --titlebar-color: #363a4f;

  --interactive-hover: var(--_color6) !important;
  --interactive-active: var(--_color7) !important;
}

#splash {
  background-color: #24273a;
}
