.theme-dark {
  --_color0: #282a36;
  --_color1: #f37f97;
  --_color2: #5adecd;
  --_color3: #f2a272;
  --_color4: #8897f4;
  --_color5: #c574dd;
  --_color6: #79e6f3;
  --_color7: #fdfdfd;

  --_color8: #414458;
  --_color9: #ff4971;
  --_color10: #18e3c8;
  --_color11: #ff8037;
  --_color12: #556fff;
  --_color13: #b043d1;
  --_color14: #3fdcee;
  --_color15: #bebec1;

  --_colorFG: var(--_color7);

  --secondary: #1d1f28;
  --primary: #282a36;
  --tertiary: #141721;
  --primary-rgb: 29, 31, 40;
  --secondary-rgb: 40, 42, 54;
  --tertiary-rgb: 20, 23, 33;

  --accent: var(--_color5);
  --accent-rgb: 197, 116, 221;
  --red: var(--_color1);
  --text: var(--_color7);
  --link: var(--_color12);
  --highlight: var(--_color8);
  --highlight-rgb: 65, 68, 88;

  --status-online: var(--_color2) !important;
  --status-idle: var(--_color3) !important;
  --status-dnd: var(--_color9) !important;
  --status-offline: var(--highlight) !important;
  --status-streaming: var(--_color5) !important;

  --interactive-hover: var(--_color6) !important;
  --interactive-active: var(--_color7) !important;
}

#splash {
  background-color: #1d1f28;
}
