.theme-dark {
  --_color0: #0d1117;
  --_color1: #ff7b72;
  --_color2: #3fb950;
  --_color3: #d29922;
  --_color4: #58a6ff;
  --_color5: #bc8cff;
  --_color6: #76e3ea;
  --_color7: #b1bac4;

  --_color8: #161b22;
  --_color9: #ffa198;
  --_color10: #56d364;
  --_color11: #e3b341;
  --_color12: #79c0ff;
  --_color13: #d2a8ff;
  --_color14: #b3f0ff;
  --_color15: #f0f6fc;

  --_colorFG: var(--_color7);

  --primary: #36393f;
  --secondary: #2f3136;
  --tertiary: #202225;
  --primary-rgb: 54, 57, 63;
  --secondary-rgb: 47, 49, 54;
  --tertiary-rgb: 32, 34, 37;

  --accent: #7289da;
  --accent-rgb: 114, 137, 218;
  --red: #f04747;
  --text: #dcddde;
  --link: #00aff4;
  --highlight: #72767d;
  --highlight-rgb: 114, 118, 125;

  --status-online: #43b581 !important;
  --status-idle: #faa61a !important;
  --status-dnd: #f04747 !important;
  --status-offline: #747f8d !important;
  --status-streaming: #593695 !important;

  --titlebar-color: var(--highlight);
}

#splash {
  background-color: #36393f;
}
