.theme-dark {
  --_color0: #32344a;
  --_color1: #f7768e;
  --_color2: #9ece6a;
  --_color3: #e0af68;
  --_color4: #7aa2f7;
  --_color5: #ad8ee6;
  --_color6: #449dab;
  --_color7: #787c99;

  --_color8: #444b6a;
  --_color9: #ff7a93;
  --_color10: #b9f27c;
  --_color11: #ff9e64;
  --_color12: #7da6ff;
  --_color13: #bb9af7;
  --_color14: #0db9d7;
  --_color15: #acb0d0;

  --_colorFG: #a9b1d6;

  --primary: #1a1b26;
  --secondary: #16161e;
  --tertiary: #101014;
  --primary-rgb: 26, 27, 38;
  --secondary-rgb: 22, 22, 30;
  --tertiary-rgb: 16, 16, 20;

  --accent: #3d59a1;
  --accent-rgb: 61, 89, 161;
  --red: var(--_color1);
  --text: var(--_colorFG);
  --link: var(--_color12);
  --highlight: #565f89;
  --highlight-rgb: 86, 95, 137;

  --status-online: var(--_color2) !important;
  --status-idle: var(--_color3) !important;
  --status-dnd: var(--_color1) !important;
  --status-offline: var(--highlight) !important;
  --status-streaming: var(--_color5) !important;

  --interactive-hover: var(--_color4) !important;
  --interactive-active: var(--_color15) !important;
}

#splash {
  background-color: #1a1b26;
}
