.theme-dark {
  --_color0: #3c4635;
  --_color1: #aa0000;
  --_color2: #4d7455;
  --_color3: #cf6a32;
  --_color4: #476291;
  --_color5: #8650ac;
  --_color6: #5e98d9;
  --_color7: #837e77;

  --_color8: #4c5844;
  --_color9: #eb4b4b;
  --_color10: #70b04a;
  --_color11: #ffd700;
  --_color12: #4b69ff;
  --_color13: #8847ff;
  --_color14: #38f3ab;
  --_color15: #b2b2b2;

  --_colorFG: #ffffff;

  --primary: #4c5844;
  --secondary: #3c4635;
  --tertiary: #282e22;
  --primary-rgb: 76, 88, 68;
  --secondary-rgb: 60, 70, 53;
  --tertiary-rgb: 40, 46, 34;

  --accent: #958831;
  --accent-rgb: 150, 137, 49;
  --red: var(--_color9);
  --text: var(--_colorFG);
  --link: var(--_color12);
  --highlight: #889180;
  --highlight-rgb: 137, 145, 130;

  --status-online: var(--_color10) !important;
  --status-idle: var(--_color11) !important;
  --status-dnd: var(--_color9) !important;
  --status-offline: var(--highlight) !important;
  --status-streaming: var(--_color5) !important;

  --status-danger: var(--red) !important;
  --interactive-active: var(--white-500) !important;
  --interactive-hover: var(--white-500) !important;

  --titlebar-active: var(--primary);
  --titlebar-inactive: var(--primary);
  --titlebar-border-active: var(--primary);
  --titlebar-border-inactive: var(--primary);
}

#splash {
  background-color: #4c5844;
}
