span[data-slate-leaf="true"][class*="italics_"],
em {
  font-style: normal;
  display: inline-block;
  transform: skewX(-8deg);
  color: #f80;
}

span[data-slate-leaf="true"][class*="bold_"],
strong {
  font-weight: 400;
  text-shadow:
    0.1px 0.1px,
    -0.1px -0.1px;
}
