[class*="guilds_"] [class^="listItemWrapper_"] > [class^="wrapper_"],
[class*="guilds_"] [class^="listItemWrapper_"] > [class^="wrapper_"] > svg,
[class*="guilds_"] [class^="listItem_"] [class^="wrapper_"]:has(> svg),
[class*="guilds_"] [class^="listItem_"] [class^="wrapper_"]:has(> svg) > svg,
[class*="guilds_"] [class^="listItem_"] [class^="wrapperSimple_"],
[class*="guilds_"] [class^="listItem_"] [class^="wrapperSimple_"] > svg {
  width: 32px;
  height: 32px;
}

[class*="guilds_"] [class^="listItem_"] > [class^="pill_"],
[class*="guilds_"]
  [class^="listItem_"]
  > [class^="pill_"]
  > [class^="item_"][style*="height: 40px;"] {
  height: 32px !important;
}

[class*="guilds_"],
[class*="guilds_"] [class^="listItem_"],
[class*="guilds_"]
  [class^="wrapper_"]:has(> [class^="expandedFolderBackground_"]) {
  width: 48px !important;
}
[class*="guilds_"] [class^="unreadMentionsIndicator"] {
  width: 48px;
  height: 16px;
}

[class*="guilds_"] > ul > [class^="scroller_"] {
  padding-top: 8px !important;
}
[class*="guilds_"] [class^="listItem_"] {
  margin-bottom: 4px;
}

[class*="guilds_"] ul[id^="folder-items-"] > [class^="listItem_"] {
  width: 32px !important;
  height: 32px !important;
  margin-left: 8px;
}

[class*="guilds_"] [class^="expandedFolderBackground_"] {
  width: 32px;
  left: 8px;
}

[class*="guilds_"] ul[id^="folder-items-"] {
  height: unset !important;
}

[class*="guilds_"]
  ul[class^="tree_"]
  > [class^="scroller_"]
  > div[style*="height: 56px;"] {
  height: unset !important;
}

[class*="guilds_"]
  ul[id^="folder-items-"]
  > [class^="listItem_"]
  > [class^="pill_"] {
  left: -8px;
}

section[class^="panels_"] > [class*="activityPanel_"] [class^="gameIcon_"],
section[class^="panels_"]
  > [class*="activityPanel_"]
  [class^="actions_"]
  > [class^="panelButtonContainer_"]
  > button,
section[class^="panels_"]
  > [class^="wrapper_"]
  > [class^="container_"]
  > [class*="connection_"]
  > [class*="directionRow_"]
  > button,
section[class^="panels_"]
  > [class^="wrapper_"]
  > [class^="container_"]
  > [class*="actionButtons_"]
  button {
  width: 24px;
  height: 24px;
  min-height: 24px;
}

section[class^="panels_"] > [class^="container_"]:last-child {
  position: relative;
}

section[class^="panels_"] > [class^="container_"]:last-child > div:last-child {
  position: absolute;
  right: 0;
  padding-right: 8px;
}

section[class^="panels_"]
  > [class^="wrapper_"]
  > [class^="container_"]
  > [class*="connection_"]
  > [class*="directionRow_"] {
  position: absolute;
  bottom: 8px;
  right: 8px;
  display: grid;
  grid-gap: 4px;
  grid-auto-flow: column;
}

section[class^="panels_"]
  > [class^="wrapper_"]
  > [class^="container_"]
  > [class*="connection_"]
  > [class^="inner_"]
  > div {
  padding-left: 20px;
}
section[class^="panels_"]
  > [class^="wrapper_"]
  > [class^="container_"]
  > [class*="connection_"]
  > [class^="inner_"]
  > div
  > [class^="rtcConnectionStatus_"] {
  position: absolute;
  left: 8px;
}
section[class^="panels_"]
  > [class^="wrapper_"]
  > [class^="container_"]
  > [class*="connection_"]
  > [class^="inner_"]
  > div
  > [class^="rtcConnectionStatus_"]:has(> :nth-child(2)) {
  top: 12px;
}
section[class^="panels_"]
  > [class^="wrapper_"]
  > [class^="container_"]
  > [class*="connection_"]
  > [class^="inner_"]
  > div
  > [class^="rtcConnectionStatus_"]
  > svg[class^="ping_"] {
  margin-right: 0;
}
section[class^="panels_"]
  > [class^="wrapper_"]
  > [class^="container_"]
  > [class*="connection_"]
  > [class^="inner_"]
  > div
  > [class^="rtcConnectionStatus_"]
  > [class^="labelWrapper_"],
section[class^="panels_"]
  > [class^="wrapper_"]
  > [class^="container_"]
  > [class*="connection_"]
  > [class^="inner_"]
  > div
  > [class^="rtcConnectionStatus_"]
  > [class^="labelWrapper_"]
  > button {
  width: 16px;
  height: 16px;
}
section[class^="panels_"]
  > [class^="wrapper_"]
  > [class^="container_"]
  > [class*="connection_"]
  > [class^="inner_"]
  > div
  > [class^="rtcConnectionStatus_"]
  > [class^="labelWrapper_"] {
  position: relative;
  left: -16px;
  z-index: 10;
}
section[class^="panels_"]
  > [class^="wrapper_"]
  > [class^="container_"]
  > [class*="connection_"]
  > [class^="inner_"]
  > div
  > [class^="rtcConnectionStatus_"]
  > [class^="labelWrapper_"]
  > button
  > [class^="contents_"] {
  display: none;
}

section[class^="panels_"]
  > [class^="wrapper_"]
  > [class^="container_"]
  > [class*="actionButtons_"]
  button {
  padding: 0;
  background: transparent;
}
section[class^="panels_"]
  > [class^="wrapper_"]
  > [class^="container_"]
  > [class*="actionButtons_"] {
  grid-gap: 4px;
  padding-top: 0;
  grid-template-columns: repeat(auto-fill, minmax(0, 24px));
  height: 24px;
}

section[class^="panels_"] > [class^="container_"] {
  height: 40px;
  padding: 0 4px;
}
section[class^="panels_"]
  > [class^="container_"]
  > [class^="avatarWrapper_"]
  > [class*="avatar_"] {
  width: 24px !important;
  height: 24px !important;
}
section[class^="panels_"]
  > [class^="container_"]
  > [class^="avatarWrapper_"]
  > [class*="avatar_"]
  > svg {
  width: 32px !important;
  height: 32px !important;
}
section[class^="panels_"]
  > [class^="container_"]
  > [class*="directionRow_"]
  > button {
  width: 24px;
  height: 24px;
}
section[class^="panels_"] > [class^="container_"] > [class*="directionRow_"] {
  display: grid;
  grid-auto-flow: column;
  grid-gap: 4px;
  padding-right: 4px !important;
}

.hh2-spotify-controls-player {
  margin: 4px 4px !important;
  height: 32px !important;
}
.hh2-spotify-controls-album-image {
  width: 32px !important;
  height: 32px !important;
}
button.hh2-spotify-controls-button {
  width: 24px !important;
}
.hh2-spotify-controls-info-box {
  margin-left: 4px !important;
  max-width: 112px !important;
  margin-right: 4px !important;
}
.hh2-spotify-controls-buttons {
  display: grid !important;
  grid-auto-flow: column;
  grid-gap: 4px;
}
.hh2-spotify-controls-track-name {
  font-size: 0.75em;
}
.hh2-spotify-controls-album-name span,
.hh2-spotify-controls-album-name a {
  color: var(--text-muted) !important;
}

[class^="members_"] [class^="member_"] > [class*="layout_"] {
  height: 32px;
}
[class^="members_"]
  [class^="member_"]
  > [class*="layout_"]
  > [class^="avatar_"],
[class^="members_"]
  [class^="member_"]
  > [class*="layout_"]
  > [class^="avatar_"]
  > [class^="wrapper_"] {
  width: 24px !important;
  height: 24px !important;
}
[class^="members_"]
  [class^="member_"]
  > [class*="layout_"]
  > [class^="avatar_"]
  > [class^="wrapper_"]
  > svg[viewBox="0 0 40 40"] {
  width: 32px !important;
  height: 32px !important;
}
[class^="members_"]
  [class^="member_"]
  > [class*="layout_"]
  > [class^="avatar_"]
  > [class^="wrapper_"]
  > [class^="avatarDecoration_"] {
  top: calc((0.4 - var(--decoration-to-avatar-ratio) / 2) * 32px);
  left: calc((0.475 - var(--decoration-to-avatar-ratio) / 2) * 32px);
  width: calc(32px * var(--decoration-to-avatar-ratio));
  height: calc(32px * var(--decoration-to-avatar-ratio));
}
[class^="members_"]
  [class^="member_"]
  > [class*="layout_"]
  > [class^="avatar_"]
  > [class^="wrapper_"]
  > svg[viewBox="0 0 32 32"] {
  width: 24px !important;
  height: 24px !important;
}
[class^="members_"]
  [class^="member_"]
  > [class*="layout_"]
  > [class^="avatar_"] {
  margin-right: 8px;
}
[class^="members_"] [class^="membersGroup_"] {
  padding: 12px 8px 0 8px !important;
  height: unset !important;
}
[class^="chat_"]
  > [class^="content_"]
  > [class^="container_"]
  > [class^="membersWrap_"]:hover
  > [class^="members_"]
  > [class^="content_"]
  > [class^="membersGroup_"] {
  height: unset !important;
}
[class^="members_"]
  [class^="member_"]
  > [class*="layout_"]
  > [class^="children_"]
  > .presence-icons-wrapper
  > span
  > img {
  width: 20px;
  height: 20px;
}

[class^="sidebar_"] [class^="containerDefault_"]:has(> [class*="clickable_"]) {
  padding-top: 8px;
}
[class^="sidebar_"] ul[class^="content_"] > div[style="height: 12px;"] {
  height: 6px !important;
}
[class^="sidebar_"] ul[class^="content_"] > div[style="height: 84px;"] {
  height: 0px !important;
}
[class^="sidebar_"] ul[class^="content_"] > [class^="sectionDivider_"] {
  margin-top: 6px;
}
[class^="sidebar_"] [class^="containerDefault_"] [class^="link_"] {
  padding: 4px;
}
[class^="sidebar_"]
  [class^="iconVisibility_"]
  > [class^="content_"]
  > [class^="mainContent_"],
[class^="sidebar_"]
  [class^="containerDefault_"]
  [class^="iconVisibility_"]
  > [class^="content_"]
  > [class^="children_"]
  > [class^="iconItem_"] {
  padding: 3px 0;
}
[class^="sidebar_"]
  [class^="containerDefault_"]
  [class^="iconVisibility_"]
  > [class^="content_"]
  > [class^="children_"]
  > [class^="channelInfo_"] {
  margin-top: 0 !important;
}
[class^="sidebar_"]
  [class^="containerDefault_"]
  [class^="iconVisibility_"]
  > [class^="content_"]
  > [class^="children_"] {
  margin-top: 2px;
}
[class^="sidebar_"]
  [class^="containerDefault_"]
  [class^="voiceUser_"]
  [class^="userAvatar_"] {
  margin-left: 4px;
  margin-right: 4px;
}
[class^="sidebar_"] [class^="containerDefault_"] [class^="spine_"] {
  top: 2px;
}
div[class^="sidebar_"]:not(:has(> [class^="side_"]))
  > nav[class^="container_"]
  > [class^="container_"][class*="clickable_"]
  > [class^="animatedContainer_"] {
  height: 32px !important;
}

div[class^="sidebar_"]:not(:has(> [class^="side_"]))
  > nav[class^="container_"]
  > [class^="container_"][class*="clickable_"]
  > [class^="animatedContainer_"]
  > [class^="bannerImage_"] {
  height: 32px !important;
}
div[class^="sidebar_"]:not(:has(> [class^="side_"]))
  > nav[class^="container_"]
  > [class^="container_"][class*="clickable_"]
  > [class^="animatedContainer_"]
  > [class^="bannerImage_"]:after {
  content: "";
  height: 32px !important;
  width: 240px;
  top: 0;
  left: 0;
  position: absolute;
  background: linear-gradient(
    0deg,
    var(--background-secondary) 5%,
    transparent 100%
  );
}

[class^="animatedBannerHoverLayer_"] {
  top: -32px !important;
  height: 32px !important;
}

[nop="nop"] [class^="members_"] > [class^="content_"],
[nop="nop"] [class^="sidebar_"] ul[class^="content_"] {
  height: unset !important;
  padding-bottom: 8px;
}

[class^="sidebar_"] header[class^="header_"] {
  padding: 4px 8px;
}
[class^="chat_"] > [class^="title_"],
[class^="chat_"] > section[class*="container_"],
[class^="base_"]
  > [class^="content_"]
  > [class^="container_"]
  > section[class*="container_"],
[class^="base_"]
  > [class^="content_"]
  > [class^="applicationStore_"]
  section[class*="container_"] {
  height: 32px !important;
  min-height: 32px !important;
  padding: 0;
}
[class^="chat_"] > [class^="title_"][class^="libraryHeader_"]:before,
[class^="chat_"] > section[class*="container_"][class^="libraryHeader_"]:before,
[class^="base_"]
  > [class^="content_"]
  > [class^="container_"]
  > section[class*="container_"][class^="libraryHeader_"]:before,
[class^="base_"]
  > [class^="content_"]
  > [class^="applicationStore_"]
  section[class*="container_"][class^="libraryHeader_"]:before {
  top: 31px;
}
[class^="chat_"] > [class^="title_"] > [class^="upperContainer_"],
[class^="chat_"] > section[class*="container_"] > [class^="upperContainer_"],
[class^="base_"]
  > [class^="content_"]
  > [class^="container_"]
  > section[class*="container_"]
  > [class^="upperContainer_"],
[class^="base_"]
  > [class^="content_"]
  > [class^="applicationStore_"]
  section[class*="container_"]
  > [class^="upperContainer_"] {
  height: 32px;
}
[class^="chat_"]
  > [class^="title_"]
  > [class^="upperContainer_"]
  > [class^="toolbar_"],
[class^="chat_"]
  > section[class*="container_"]
  > [class^="upperContainer_"]
  > [class^="toolbar_"],
[class^="base_"]
  > [class^="content_"]
  > [class^="container_"]
  > section[class*="container_"]
  > [class^="upperContainer_"]
  > [class^="toolbar_"],
[class^="base_"]
  > [class^="content_"]
  > [class^="applicationStore_"]
  section[class*="container_"]
  > [class^="upperContainer_"]
  > [class^="toolbar_"] {
  display: grid;
  grid-auto-flow: column;
  grid-gap: 4px;
  margin-right: 4px;
}
[class^="chat_"]
  > [class^="title_"]
  > [class^="upperContainer_"]
  > [class^="toolbar_"]
  > [class^="inviteToolbar_"],
[class^="chat_"]
  > section[class*="container_"]
  > [class^="upperContainer_"]
  > [class^="toolbar_"]
  > [class^="inviteToolbar_"],
[class^="base_"]
  > [class^="content_"]
  > [class^="container_"]
  > section[class*="container_"]
  > [class^="upperContainer_"]
  > [class^="toolbar_"]
  > [class^="inviteToolbar_"],
[class^="base_"]
  > [class^="content_"]
  > [class^="applicationStore_"]
  section[class*="container_"]
  > [class^="upperContainer_"]
  > [class^="toolbar_"]
  > [class^="inviteToolbar_"] {
  display: grid;
  grid-auto-flow: column;
  grid-gap: 4px;
}
[class^="chat_"]
  > [class^="title_"]
  > [class^="upperContainer_"]
  > [class^="toolbar_"]
  > [class^="search_"]
  [class^="searchBar_"],
[class^="chat_"]
  > section[class*="container_"]
  > [class^="upperContainer_"]
  > [class^="toolbar_"]
  > [class^="search_"]
  [class^="searchBar_"],
[class^="base_"]
  > [class^="content_"]
  > [class^="container_"]
  > section[class*="container_"]
  > [class^="upperContainer_"]
  > [class^="toolbar_"]
  > [class^="search_"]
  [class^="searchBar_"],
[class^="base_"]
  > [class^="content_"]
  > [class^="applicationStore_"]
  section[class*="container_"]
  > [class^="upperContainer_"]
  > [class^="toolbar_"]
  > [class^="search_"]
  [class^="searchBar_"] {
  height: 24px !important;
}
[class^="chat_"]
  > [class^="title_"]
  > [class^="upperContainer_"]
  > [class^="toolbar_"]
  > [class^="search_"]
  [class^="searchBar_"]
  > .DraftEditor-root
  [class^="chat_"]
  > [class^="title_"]
  > [class^="upperContainer_"]
  > [class^="toolbar_"]
  > [class^="search_"]
  [class^="searchBar_"]
  > [class^="icon_"],
[class^="chat_"]
  > [class^="title_"]
  > [class^="upperContainer_"]
  > [class^="toolbar_"]
  > [class^="search_"]
  [class^="searchBar_"]
  > .DraftEditor-root
  [class^="chat_"]
  > section[class*="container_"]
  > [class^="upperContainer_"]
  > [class^="toolbar_"]
  > [class^="search_"]
  [class^="searchBar_"]
  > [class^="icon_"],
[class^="chat_"]
  > [class^="title_"]
  > [class^="upperContainer_"]
  > [class^="toolbar_"]
  > [class^="search_"]
  [class^="searchBar_"]
  > .DraftEditor-root
  [class^="base_"]
  > [class^="content_"]
  > [class^="container_"]
  > section[class*="container_"]
  > [class^="upperContainer_"]
  > [class^="toolbar_"]
  > [class^="search_"]
  [class^="searchBar_"]
  > [class^="icon_"],
[class^="chat_"]
  > [class^="title_"]
  > [class^="upperContainer_"]
  > [class^="toolbar_"]
  > [class^="search_"]
  [class^="searchBar_"]
  > .DraftEditor-root
  [class^="base_"]
  > [class^="content_"]
  > [class^="applicationStore_"]
  section[class*="container_"]
  > [class^="upperContainer_"]
  > [class^="toolbar_"]
  > [class^="search_"]
  [class^="searchBar_"]
  > [class^="icon_"],
[class^="chat_"]
  > section[class*="container_"]
  > [class^="upperContainer_"]
  > [class^="toolbar_"]
  > [class^="search_"]
  [class^="searchBar_"]
  > .DraftEditor-root
  [class^="chat_"]
  > [class^="title_"]
  > [class^="upperContainer_"]
  > [class^="toolbar_"]
  > [class^="search_"]
  [class^="searchBar_"]
  > [class^="icon_"],
[class^="chat_"]
  > section[class*="container_"]
  > [class^="upperContainer_"]
  > [class^="toolbar_"]
  > [class^="search_"]
  [class^="searchBar_"]
  > .DraftEditor-root
  [class^="chat_"]
  > section[class*="container_"]
  > [class^="upperContainer_"]
  > [class^="toolbar_"]
  > [class^="search_"]
  [class^="searchBar_"]
  > [class^="icon_"],
[class^="chat_"]
  > section[class*="container_"]
  > [class^="upperContainer_"]
  > [class^="toolbar_"]
  > [class^="search_"]
  [class^="searchBar_"]
  > .DraftEditor-root
  [class^="base_"]
  > [class^="content_"]
  > [class^="container_"]
  > section[class*="container_"]
  > [class^="upperContainer_"]
  > [class^="toolbar_"]
  > [class^="search_"]
  [class^="searchBar_"]
  > [class^="icon_"],
[class^="chat_"]
  > section[class*="container_"]
  > [class^="upperContainer_"]
  > [class^="toolbar_"]
  > [class^="search_"]
  [class^="searchBar_"]
  > .DraftEditor-root
  [class^="base_"]
  > [class^="content_"]
  > [class^="applicationStore_"]
  section[class*="container_"]
  > [class^="upperContainer_"]
  > [class^="toolbar_"]
  > [class^="search_"]
  [class^="searchBar_"]
  > [class^="icon_"],
[class^="base_"]
  > [class^="content_"]
  > [class^="container_"]
  > section[class*="container_"]
  > [class^="upperContainer_"]
  > [class^="toolbar_"]
  > [class^="search_"]
  [class^="searchBar_"]
  > .DraftEditor-root
  [class^="chat_"]
  > [class^="title_"]
  > [class^="upperContainer_"]
  > [class^="toolbar_"]
  > [class^="search_"]
  [class^="searchBar_"]
  > [class^="icon_"],
[class^="base_"]
  > [class^="content_"]
  > [class^="container_"]
  > section[class*="container_"]
  > [class^="upperContainer_"]
  > [class^="toolbar_"]
  > [class^="search_"]
  [class^="searchBar_"]
  > .DraftEditor-root
  [class^="chat_"]
  > section[class*="container_"]
  > [class^="upperContainer_"]
  > [class^="toolbar_"]
  > [class^="search_"]
  [class^="searchBar_"]
  > [class^="icon_"],
[class^="base_"]
  > [class^="content_"]
  > [class^="container_"]
  > section[class*="container_"]
  > [class^="upperContainer_"]
  > [class^="toolbar_"]
  > [class^="search_"]
  [class^="searchBar_"]
  > .DraftEditor-root
  [class^="base_"]
  > [class^="content_"]
  > [class^="container_"]
  > section[class*="container_"]
  > [class^="upperContainer_"]
  > [class^="toolbar_"]
  > [class^="search_"]
  [class^="searchBar_"]
  > [class^="icon_"],
[class^="base_"]
  > [class^="content_"]
  > [class^="container_"]
  > section[class*="container_"]
  > [class^="upperContainer_"]
  > [class^="toolbar_"]
  > [class^="search_"]
  [class^="searchBar_"]
  > .DraftEditor-root
  [class^="base_"]
  > [class^="content_"]
  > [class^="applicationStore_"]
  section[class*="container_"]
  > [class^="upperContainer_"]
  > [class^="toolbar_"]
  > [class^="search_"]
  [class^="searchBar_"]
  > [class^="icon_"],
[class^="base_"]
  > [class^="content_"]
  > [class^="applicationStore_"]
  section[class*="container_"]
  > [class^="upperContainer_"]
  > [class^="toolbar_"]
  > [class^="search_"]
  [class^="searchBar_"]
  > .DraftEditor-root
  [class^="chat_"]
  > [class^="title_"]
  > [class^="upperContainer_"]
  > [class^="toolbar_"]
  > [class^="search_"]
  [class^="searchBar_"]
  > [class^="icon_"],
[class^="base_"]
  > [class^="content_"]
  > [class^="applicationStore_"]
  section[class*="container_"]
  > [class^="upperContainer_"]
  > [class^="toolbar_"]
  > [class^="search_"]
  [class^="searchBar_"]
  > .DraftEditor-root
  [class^="chat_"]
  > section[class*="container_"]
  > [class^="upperContainer_"]
  > [class^="toolbar_"]
  > [class^="search_"]
  [class^="searchBar_"]
  > [class^="icon_"],
[class^="base_"]
  > [class^="content_"]
  > [class^="applicationStore_"]
  section[class*="container_"]
  > [class^="upperContainer_"]
  > [class^="toolbar_"]
  > [class^="search_"]
  [class^="searchBar_"]
  > .DraftEditor-root
  [class^="base_"]
  > [class^="content_"]
  > [class^="container_"]
  > section[class*="container_"]
  > [class^="upperContainer_"]
  > [class^="toolbar_"]
  > [class^="search_"]
  [class^="searchBar_"]
  > [class^="icon_"],
[class^="base_"]
  > [class^="content_"]
  > [class^="applicationStore_"]
  section[class*="container_"]
  > [class^="upperContainer_"]
  > [class^="toolbar_"]
  > [class^="search_"]
  [class^="searchBar_"]
  > .DraftEditor-root
  [class^="base_"]
  > [class^="content_"]
  > [class^="applicationStore_"]
  section[class*="container_"]
  > [class^="upperContainer_"]
  > [class^="toolbar_"]
  > [class^="search_"]
  [class^="searchBar_"]
  > [class^="icon_"] {
  margin-top: 0 !important;
}
[class^="chat_"]
  > [class^="title_"]
  > [class^="upperContainer_"]
  > [class^="toolbar_"]
  [class^="iconWrapper_"],
[class^="chat_"]
  > section[class*="container_"]
  > [class^="upperContainer_"]
  > [class^="toolbar_"]
  [class^="iconWrapper_"],
[class^="base_"]
  > [class^="content_"]
  > [class^="container_"]
  > section[class*="container_"]
  > [class^="upperContainer_"]
  > [class^="toolbar_"]
  [class^="iconWrapper_"],
[class^="base_"]
  > [class^="content_"]
  > [class^="applicationStore_"]
  section[class*="container_"]
  > [class^="upperContainer_"]
  > [class^="toolbar_"]
  [class^="iconWrapper_"] {
  width: 24px !important;
  height: 24px !important;
  margin: 0;
}
[class^="chat_"]
  > [class^="title_"]
  > [class^="upperContainer_"]
  > [class^="toolbar_"]
  [class^="iconWrapper_"]
  > svg,
[class^="chat_"]
  > section[class*="container_"]
  > [class^="upperContainer_"]
  > [class^="toolbar_"]
  [class^="iconWrapper_"]
  > svg,
[class^="base_"]
  > [class^="content_"]
  > [class^="container_"]
  > section[class*="container_"]
  > [class^="upperContainer_"]
  > [class^="toolbar_"]
  [class^="iconWrapper_"]
  > svg,
[class^="base_"]
  > [class^="content_"]
  > [class^="applicationStore_"]
  section[class*="container_"]
  > [class^="upperContainer_"]
  > [class^="toolbar_"]
  [class^="iconWrapper_"]
  > svg {
  margin: 0 !important;
  padding: 1px;
}
[class^="chat_"]
  > [class^="title_"]
  > [class^="upperContainer_"]
  > [class^="toolbar_"]
  > [class^="icon_"]:has(> [class^="text-md-normal_"]),
[class^="chat_"]
  > section[class*="container_"]
  > [class^="upperContainer_"]
  > [class^="toolbar_"]
  > [class^="icon_"]:has(> [class^="text-md-normal_"]),
[class^="base_"]
  > [class^="content_"]
  > [class^="container_"]
  > section[class*="container_"]
  > [class^="upperContainer_"]
  > [class^="toolbar_"]
  > [class^="icon_"]:has(> [class^="text-md-normal_"]),
[class^="base_"]
  > [class^="content_"]
  > [class^="applicationStore_"]
  section[class*="container_"]
  > [class^="upperContainer_"]
  > [class^="toolbar_"]
  > [class^="icon_"]:has(> [class^="text-md-normal_"]) {
  margin-left: 4px;
  margin-right: 0;
}
[class^="chat_"]
  > [class^="title_"]
  > [class^="upperContainer_"]
  [class^="topic_"],
[class^="chat_"]
  > section[class*="container_"]
  > [class^="upperContainer_"]
  [class^="topic_"],
[class^="base_"]
  > [class^="content_"]
  > [class^="container_"]
  > section[class*="container_"]
  > [class^="upperContainer_"]
  [class^="topic_"],
[class^="base_"]
  > [class^="content_"]
  > [class^="applicationStore_"]
  section[class*="container_"]
  > [class^="upperContainer_"]
  [class^="topic_"] {
  margin-left: 4px;
}
[class^="chat_"]
  > [class^="title_"]
  > [class^="upperContainer_"]
  [class^="titleWrapper_"],
[class^="chat_"]
  > section[class*="container_"]
  > [class^="upperContainer_"]
  [class^="titleWrapper_"],
[class^="base_"]
  > [class^="content_"]
  > [class^="container_"]
  > section[class*="container_"]
  > [class^="upperContainer_"]
  [class^="titleWrapper_"],
[class^="base_"]
  > [class^="content_"]
  > [class^="applicationStore_"]
  section[class*="container_"]
  > [class^="upperContainer_"]
  [class^="titleWrapper_"] {
  margin-right: 4px;
}
[class^="chat_"]
  > [class^="title_"]
  > [class^="upperContainer_"]
  > [class^="children_"]
  > [class^="iconWrapper_"],
[class^="chat_"]
  > [class^="title_"]
  > [class^="upperContainer_"]
  [class^="divider_"],
[class^="chat_"]
  > section[class*="container_"]
  > [class^="upperContainer_"]
  > [class^="children_"]
  > [class^="iconWrapper_"],
[class^="chat_"]
  > section[class*="container_"]
  > [class^="upperContainer_"]
  [class^="divider_"],
[class^="base_"]
  > [class^="content_"]
  > [class^="container_"]
  > section[class*="container_"]
  > [class^="upperContainer_"]
  > [class^="children_"]
  > [class^="iconWrapper_"],
[class^="base_"]
  > [class^="content_"]
  > [class^="container_"]
  > section[class*="container_"]
  > [class^="upperContainer_"]
  [class^="divider_"],
[class^="base_"]
  > [class^="content_"]
  > [class^="applicationStore_"]
  section[class*="container_"]
  > [class^="upperContainer_"]
  > [class^="children_"]
  > [class^="iconWrapper_"],
[class^="base_"]
  > [class^="content_"]
  > [class^="applicationStore_"]
  section[class*="container_"]
  > [class^="upperContainer_"]
  [class^="divider_"] {
  margin: 0 4px;
}
[class^="chat_"]
  > [class^="title_"]
  > [class^="upperContainer_"]
  > [class^="children_"]
  > [class^="iconWrapper_"]
  > svg,
[class^="chat_"]
  > section[class*="container_"]
  > [class^="upperContainer_"]
  > [class^="children_"]
  > [class^="iconWrapper_"]
  > svg,
[class^="base_"]
  > [class^="content_"]
  > [class^="container_"]
  > section[class*="container_"]
  > [class^="upperContainer_"]
  > [class^="children_"]
  > [class^="iconWrapper_"]
  > svg,
[class^="base_"]
  > [class^="content_"]
  > [class^="applicationStore_"]
  section[class*="container_"]
  > [class^="upperContainer_"]
  > [class^="children_"]
  > [class^="iconWrapper_"]
  > svg {
  padding: 2px;
}
[class*="iconWrapper_"]
  [class^="chat_"]
  > [class^="title_"]
  > [class^="upperContainer_"]
  > [class*="search_"],
[class*="iconWrapper_"]
  [class^="chat_"]
  > section[class*="container_"]
  > [class^="upperContainer_"]
  > [class*="search_"],
[class*="iconWrapper_"]
  [class^="base_"]
  > [class^="content_"]
  > [class^="container_"]
  > section[class*="container_"]
  > [class^="upperContainer_"]
  > [class*="search_"],
[class*="iconWrapper_"]
  [class^="base_"]
  > [class^="content_"]
  > [class^="applicationStore_"]
  section[class*="container_"]
  > [class^="upperContainer_"]
  > [class*="search_"] {
  margin: 0 !important;
}

[class^="chatContent_"]
  > form
  [class^="channelTextArea"]
  > [class^="scrollableContainer_"]
  > [class^="inner_"]
  > [class^="textArea_"]
  > div
  > [class*="fontSize16Padding_"] {
  padding-top: 9px !important;
  padding-bottom: 9px !important;
}
[class^="channelTextArea_"] [class^="inner_"] {
  padding-left: 0 !important;
}
[class^="channelTextArea_"],
[class^="channelTextArea_"] [class^="inner_"],
[class^="channelTextArea_"] [class^="buttons_"],
[class^="channelTextArea_"] [class^="attachWrapper_"],
[class^="channelTextArea_"] [class^="attachButton_"],
[class^="channelTextArea_"] > [class^="scrollableContainer_"],
[class^="channelTextArea_"] [class^="inner_"] > [class^="textArea_"] {
  min-height: 40px !important;
}
[class^="channelTextArea_"] [class^="buttons_"],
[class^="channelTextArea_"] [class^="attachWrapper_"],
[class^="chatContent_"]
  > form
  [class^="channelTextArea"]
  > [class^="scrollableContainer_"]
  > [class^="inner_"]
  > [class^="textArea_"] {
  height: 40px;
}
[class^="channelTextArea_"] [class^="attachWrapper_"] {
  min-width: 40px;
}
[class^="channelTextArea_"] [class^="attachWrapper_"] [class^="attachButton_"] {
  margin-left: 0;
  padding-top: 0;
}
[class^="channelTextArea_"] [class^="attachButton_"],
[class^="channelTextArea_"] [class^="attachButton_"] > [class^="icon_"] {
  padding: 5px 8px;
}
[class^="channelTextArea_"]
  [class^="buttons_"]
  [class*="buttonContainer_"]
  > button:not(:has(> [class*="innerButton_"])) {
  margin: 0;
}
[class^="channelTextArea_"] [class^="buttons_"] > [class^="separator_"],
[class^="channelTextArea_"]
  [class^="buttons_"]
  > [class^="separator_"]
  [class*="innerButton_"] {
  margin-left: 4px;
}
[class^="channelTextArea_"]
  [class^="buttons_"]
  > [class^="separator_"]
  [class*="innerButton_"] {
  margin-right: 0;
}

[class*="menu_"] [class^="scroller_"] {
  padding: 4px;
}
[class*="menu_"] [class^="scroller_"]::-webkit-scrollbar {
  width: 4px;
}
[class*="menu_"] [class^="scroller_"] [class^="item_"] {
  margin: 1px 0;
  padding: 0 4px;
  min-height: 24px;
}
[class*="menu_"]
  [class^="scroller_"]
  [class^="customItem_"][id^="message-quickreact-"]
  > [class^="button_"] {
  width: 24px;
  height: 24px;
}
[class*="menu_"]
  [class^="scroller_"]
  [class^="wrapper_"]:has(> [class^="customItem_"][id^="message-quickreact-"]) {
  padding: 0;
  margin-bottom: 4px;
}
[class*="menu_"]
  [class^="scroller_"]
  [class^="item_"]
  > [class^="labelContainer_"],
[class*="menu_"]
  [class^="scroller_"]
  [class^="item_"]
  > [class^="sliderContainer_"] {
  padding: 0;
}
[class*="menu_"]
  [class^="scroller_"]
  [class^="item_"]
  > [class^="labelContainer_"] {
  min-height: 24px;
}

[class^="sidebar_"]
  > [class^="privateChannels_"]
  ul[class^="content_"]
  > [class^="channel_"]
  [class*="layout_"] {
  height: 36px;
  padding: 0 4px;
}
[class^="sidebar_"]
  > [class^="privateChannels_"]
  ul[class^="content_"]
  > [class^="channel_"]
  [class*="layout_"]
  > [class^="avatar_"],
[class^="sidebar_"]
  > [class^="privateChannels_"]
  ul[class^="content_"]
  > [class^="channel_"]
  [class*="layout_"]
  > [class^="avatar_"]
  > [class^="wrapper_"] {
  height: 24px !important;
  width: 24px !important;
}
[class^="sidebar_"]
  > [class^="privateChannels_"]
  ul[class^="content_"]
  > [class^="channel_"]
  [class*="layout_"]
  > [class^="avatar_"]
  > [class^="wrapper_"]
  > svg[viewbox="0 0 40 40"] {
  height: 32px !important;
  width: 32px !important;
}
[class^="sidebar_"]
  > [class^="privateChannels_"]
  ul[class^="content_"]
  > [class^="channel_"]
  [class*="layout_"]
  > [class^="avatar_"]
  > [class^="wrapper_"]
  > svg[viewbox="0 0 32 32"] {
  height: 24px !important;
  width: 24px !important;
}
[class^="sidebar_"]
  > [class^="privateChannels_"]
  ul[class^="content_"]
  > [class^="channel_"]
  [class*="layout_"]
  > [class^="avatar_"] {
  margin-right: 8px;
}
[class^="sidebar_"]
  > [class^="privateChannels_"]
  ul[class^="content_"]
  > [class^="channel_"]
  [class*="layout_"]
  > [class^="avatar_"]
  > [class^="wrapper_"]
  > [class^="avatarDecoration_"] {
  top: calc((0.4 - var(--decoration-to-avatar-ratio) / 2) * 32px);
  left: calc((0.475 - var(--decoration-to-avatar-ratio) / 2) * 32px);
  width: calc(32px * var(--decoration-to-avatar-ratio));
  height: calc(32px * var(--decoration-to-avatar-ratio));
}

[class^="sidebar_"]
  > [class^="privateChannels_"]
  ul[class^="content_"]
  > [class*="privateChannelsHeaderContainer_"] {
  padding: 9px 4px 2px 9px;
  height: 24px;
}

[class^="sidebar_"] > [class^="privateChannels_"] > [class^="searchBar_"] {
  height: 32px;
}
