[class^="channelTextArea_"] > [class^="attachedBars_"] [class^="replyBar_"],
[class^="channelTextArea_"]
  > [class^="attachedBars_"]
  [class^="threadSuggestionBar_"] {
  background: transparent;
}

[class^="channelTextArea_"] > [class^="attachedBars_"] [class^="replyBar_"] {
  display: flex;
  flex-direction: row-reverse;
  align-self: flex-start;
}
[class^="channelTextArea_"]
  > [class^="attachedBars_"]
  [class^="replyBar_"]
  > [class^="actions_"] {
  flex-direction: row-reverse;
}
[class^="channelTextArea_"]
  > [class^="attachedBars_"]
  [class^="replyBar_"]
  [class*="replyLabel_"] {
  margin-left: 12px;
}

[class^="channelTextArea_"]
  > [class^="attachedBars_"]
  [class^="replyBar_"]
  > [class^="actions_"]::after {
  position: relative;
  content: "";
  background-color: var(--background-modifier-accent);
  width: 1px;
  height: 20px;
  left: 100%;
}
