[class^="role_"] {
  position: relative;
  border-radius: 5%;
}

[class^="role_"] [class^="roleRemoveButton_"] [class^="roleCircle_"],
[class^="role_"] [class^="roleRemoveButton_"] [class^="roleFlowerStar_"] {
  margin: 0 !important;
  border-radius: 5% !important;
  width: 100% !important;
  height: 22px !important;
  top: 0;
  left: 0;
  position: absolute;
  z-index: 1;
  opacity: 0.25;
}

[class^="role_"] [class^="roleFlowerStar_"] > svg[class^="linkIcon_"] {
  z-index: 7;
  position: absolute;
  right: -2px;
  top: -2px;
  opacity: 5;
}

[class^="role_"] [class^="roleRemoveButton_"] {
  position: absolute;
  left: 0;
  width: 100%;
  height: 22px;
  overflow-x: clip;
  overflow-y: visible;
}

[class^="role_"] [class^="roleIcon_"] {
  z-index: 5;
}

[class^="role_"] [class^="roleName_"] {
  z-index: 2;
  margin-right: 0;
}

[class^="role_"] [class^="roleRemoveIcon_"] {
  display: block;
  position: absolute;
  top: 4px;
  left: 4px;
  z-index: 6;
}

[class^="role_"] [class^="roleRemoveButton_"] [class*="roleDot_"] {
  width: 1em !important;
  height: 1em !important;
  margin-top: 0.25em;
}
