[class^="member_"] [class^="avatar_"] [class*="wrapper_"] > svg,
[class^="member_"]
  [class^="avatar_"]
  [class*="wrapper_"]
  > svg
  > svg[class^="cursorDefault_"],
[class^="member_"]
  [class^="avatar_"]
  [class*="wrapper_"]
  > svg
  > svg[class^="cursorDefault_"]
  > svg[class^="dots_"],
[class^="channel_"] [class^="avatar_"] [class*="wrapper_"] > svg,
[class^="channel_"]
  [class^="avatar_"]
  [class*="wrapper_"]
  > svg
  > svg[class^="cursorDefault_"],
[class^="channel_"]
  [class^="avatar_"]
  [class*="wrapper_"]
  > svg
  > svg[class^="cursorDefault_"]
  > svg[class^="dots_"],
[class^="autocompleteRowIcon_"] > [class^="wrapper_"] > svg,
[class^="userInfo_"] [class^="avatar_"] > svg,
[class^="panels_"] [class*="avatar_"] > svg > svg,
[class^="modal_"] > [class^="inner_"] [class^="avatar_"] > svg,
[class^="focusLock_"][aria-modal="true"]
  > [class^="root_"]
  [class^="avatar_"]
  > svg,
[class^="userPopoutInner_"]
  [class^="avatarHoverTarget_"]
  > [class^="wrapper_"]
  > svg {
  overflow: visible;
  contain: none !important;
}

[class^="member_"]
  [class^="avatar_"]
  [class*="wrapper_"]
  > svg
  > svg[class^="cursorDefault_"]
  > rect,
[class^="channel_"]
  [class^="avatar_"]
  [class*="wrapper_"]
  > svg
  > svg[class^="cursorDefault_"]
  > rect,
[class^="modal_"]
  > [class^="inner_"]
  [class^="avatar_"]
  > svg
  > svg[class^="cursorDefault_"]
  > rect {
  x: -18.5;
  y: -17;
}

[class^="member_"]
  [class^="avatar_"]
  [class*="wrapper_"]
  > svg
  > svg[class^="cursorDefault_"]
  > svg[class^="dots_"]
  circle,
[class^="channel_"]
  [class^="avatar_"]
  [class*="wrapper_"]
  > svg
  > svg[class^="cursorDefault_"]
  > svg[class^="dots_"]
  circle {
  cx: -20.1;
  r: 1.5;
}

[class^="member_"]
  [class^="avatar_"]
  [class*="wrapper_"]
  > svg
  > svg[class^="cursorDefault_"]
  > svg[class^="dots_"]
  circle:nth-child(1),
[class^="channel_"]
  [class^="avatar_"]
  [class*="wrapper_"]
  > svg
  > svg[class^="cursorDefault_"]
  > svg[class^="dots_"]
  circle:nth-child(1) {
  cy: -16;
}

[class^="member_"]
  [class^="avatar_"]
  [class*="wrapper_"]
  > svg
  > svg[class^="cursorDefault_"]
  > svg[class^="dots_"]
  circle:nth-child(2),
[class^="channel_"]
  [class^="avatar_"]
  [class*="wrapper_"]
  > svg
  > svg[class^="cursorDefault_"]
  > svg[class^="dots_"]
  circle:nth-child(2) {
  cy: -8;
}

[class^="member_"]
  [class^="avatar_"]
  [class^="wrapper_"]
  > svg
  > svg[class^="cursorDefault_"]
  > svg[class^="dots_"]
  circle:nth-child(3),
[class^="channel_"]
  [class^="avatar_"]
  [class*="wrapper_"]
  > svg
  > svg[class^="cursorDefault_"]
  > svg[class^="dots_"]
  circle:nth-child(3) {
  cy: 0;
}

[class^="member_"]
  [class^="avatar_"]
  [class*="wrapper_"]
  > svg
  > svg[class^="cursorDefault_"]
  > rect[fill^="var(--status-"],
[class^="member_"]
  [class^="avatar_"]
  [class*="wrapper_"]
  > svg
  > svg[class^="cursorDefault_"]
  > rect[fill^="#"] {
  mask: none !important;
  x: -18.5;
  y: -17;
  width: 4px;
  height: 32px;
}

[class^="panels_"]
  [class*="avatar_"]
  > svg
  > rect[mask^="url(#svg-mask-status"] {
  mask: none !important;
  x: 32;
  y: 0;
  width: 4px;
  height: 32px;
}
[class^="panels_"] [class*="avatar_"] > svg > svg > rect[fill^="var(--status-"],
[class^="panels_"] [class*="avatar_"] > svg > svg > rect[fill^="#"] {
  mask: none !important;
  x: 17.5;
  y: -17;
  width: 4px;
  height: 32px;
}

[class^="member_"]
  [class^="avatar_"]
  [class*="wrapper_"]
  > svg
  rect[mask^="url(#svg-mask-status-"],
[class^="channel_"]
  [class^="avatar_"]
  [class*="wrapper_"]
  > svg
  rect[mask^="url(#svg-mask-status-"] {
  mask: none !important;
  width: 4px;
  height: 32px;
  x: -4;
  y: 0;
}

[class^="autocompleteRowIcon_"]
  > [class^="wrapper_"]
  > svg
  rect[mask^="url(#svg-mask-status-"] {
  mask: none !important;
  width: 4px;
  height: 24px;
  x: -4;
  y: 0;
}

[class^="userInfo_"]
  [class^="avatar_"]
  > svg
  rect[mask^="url(#svg-mask-status-"] {
  mask: none !important;
  width: 4px;
  height: 32px;
  x: 32;
  y: 0;
}

[class^="userProfileModalInner_"]
  [class^="header_"]
  [class*="avatar_"]
  > svg
  rect[mask^="url(#svg-mask-status-"] {
  mask: none !important;
  width: 8px;
  height: 120px;
  x: 120;
  y: 0;
}

[class^="userPopoutInner_"]
  [class^="avatarHoverTarget_"]
  > [class^="wrapper_"]
  > svg
  circle,
[class^="userPopoutInner_"]
  [class^="avatarHoverTarget_"]
  > [class^="wrapper_"]
  > svg
  > rect[fill="black"],
[class^="userProfileModalInner_"]
  [class^="header_"]
  [class^="wrapper_"]
  > svg
  circle,
[class^="userProfileModalInner_"]
  [class^="header_"]
  [class^="wrapper_"]
  > svg
  > rect[fill="black"] {
  display: none;
}

[class^="accountProfileCard_"]
  [class*="avatar_"]
  > svg
  rect[mask^="url(#svg-mask-status-"],
[class^="userPopoutInner_"]
  [class^="avatarHoverTarget_"]
  > [class^="wrapper_"]
  > svg
  rect[mask^="url(#svg-mask-status-"] {
  mask: none !important;
  width: 8px;
  height: 80px;
  x: 80;
  y: 0;
}
