[class*="standardSidebarView_"]
  [class*="contentColumn_"]:not([class*="contentColumnWide_"]) {
  max-width: 100%;
}

[class*="standardSidebarView_"] [class*="sidebarRegion_"] {
  flex: 0;
}

[class^="accountProfileCard_"] {
  max-width: 660px;
}
