.theme-light {
  --_color0: #bcc0cc;
  --_color1: #d20f39;
  --_color2: #40a02b;
  --_color3: #df8e1d;
  --_color4: #1e66f5;
  --_color5: #ea76cb;
  --_color6: #179299;
  --_color7: #5c5f77;

  --_color8: #626880;
  --_color9: #d20f39;
  --_color10: #40a02b;
  --_color11: #df8e1d;
  --_color12: #1e66f5;
  --_color13: #ea76cb;
  --_color14: #179299;
  --_color15: #6c6f85;

  --_colorFG: #4c4f69;

  --primary: #eff1f5;
  --secondary: #e6e9ef;
  --tertiary: #dce0e8;
  --primary-rgb: 239, 241, 245;
  --secondary-rgb: 230, 233, 239;
  --tertiary-rgb: 220, 224, 232;

  --accent: #7287fd;
  --accent-rgb: 114, 135, 253;
  --red: var(--_color1);
  --text: var(--_colorFG);
  --link: var(--_color14);
  --highlight: #6c6f85;
  --highlight-rgb: 108, 111, 133;

  --status-online: var(--_color2) !important;
  --status-idle: var(--_color3) !important;
  --status-dnd: var(--_color1) !important;
  --status-offline: var(--_color8) !important;
  --status-streaming: var(--_color5) !important;

  --titlebar-color: #414559;

  --interactive-hover: var(--_color6) !important;
  --interactive-active: var(--_color7) !important;
}
