.theme-light {
  --_color0: #e5e9f0;
  --_color1: #bf616a;
  --_color2: #a3be8c;
  --_color3: #ebcb8b;
  --_color4: #81a1c1;
  --_color5: #b48ead;
  --_color6: #88c0d0;
  --_color7: #3b4252;

  --_color8: #eceff4;
  --_color9: #bf616a;
  --_color10: #a3be8c;
  --_color11: #ebcb8b;
  --_color12: #81a1c1;
  --_color13: #b48ead;
  --_color14: #88c0d0;
  --_color15: #4c566a;

  --_colorFG: #2e3440;

  --primary: #eceff4;
  --secondary: #e5e9f0;
  --tertiary: #d8dee9;
  --primary-rgb: 236, 239, 244;
  --secondary-rgb: 229, 233, 240;
  --tertiary-rgb: 216, 222, 233;

  --accent: #88c0d0;
  --accent-rgb: 136, 192, 208;
  --red: var(--_color1);
  --text: var(--_colorFG);
  --link: var(--_color12);
  --highlight: #8fbcbb;
  --highlight-rgb: 143, 188, 187;

  --status-online: var(--_color2) !important;
  --status-idle: var(--_color3) !important;
  --status-dnd: var(--_color1) !important;
  --status-offline: var(--_color8) !important;
  --status-streaming: var(--_color5) !important;

  --titlebar-color: #4c566a;
}
