.theme-light {
  --_color0: #24292f;
  --_color1: #ff8182;
  --_color2: #4ac26b;
  --_color3: #d4a72c;
  --_color4: #54aeff;
  --_color5: #c297ff;
  --_color6: #76e3ea;
  --_color7: #8c959f;

  --_color8: #32383f;
  --_color9: #ffaba8;
  --_color10: #6fdd8b;
  --_color11: #eac54f;
  --_color12: #80ccff;
  --_color13: #d8b9ff;
  --_color14: #b3f0ff;
  --_color15: #d0d7de;

  --_colorFG: var(--_color7);

  --primary: #ffffff;
  --secondary: #f2f3f5;
  --tertiary: #e3e5e8;
  --primary-rgb: 255, 255, 255;
  --secondary-rgb: 242, 243, 245;
  --tertiary-rgb: 227, 229, 232;

  --accent: #7289da;
  --accent-rgb: 114, 137, 218;
  --red: #f04747;
  --text: #303338;
  --link: #00aff4;
  --highlight: #72767d;
  --highlight-rgb: 114, 118, 125;

  --status-online: #43b581 !important;
  --status-idle: #faa61a !important;
  --status-dnd: #f04747 !important;
  --status-offline: #747f8d !important;
  --status-streaming: #593695 !important;

  --titlebar-color: var(--highlight);

  --interactive-active: #060607 !important;
}
