.theme-light {
  --_color0: #24292f;
  --_color1: #ff8182;
  --_color2: #4ac26b;
  --_color3: #d4a72c;
  --_color4: #54aeff;
  --_color5: #c297ff;
  --_color6: #76e3ea;
  --_color7: #8c959f;

  --_color8: #32383f;
  --_color9: #ffaba8;
  --_color10: #6fdd8b;
  --_color11: #eac54f;
  --_color12: #80ccff;
  --_color13: #d8b9ff;
  --_color14: #b3f0ff;
  --_color15: #d0d7de;

  --_colorFG: #373737;

  --primary: #fcfcf9;
  --secondary: #f4f4f1;
  --tertiary: #dcdace;
  --primary-rgb: 252, 252, 249;
  --secondary-rgb: 244, 244, 241;
  --tertiary-rgb: 220, 218, 206;

  --accent: #58516d;
  --accent-rgb: 88, 81, 109;
  --red: var(--_color1);
  --text: #373737;
  --link: var(--_color6);
  --highlight: #b0aca5;
  --highlight-rgb: 176, 172, 165;

  --status-online: var(--_color4) !important;
  --status-idle: var(--_color3) !important;
  --status-dnd: var(--_color1) !important;
  --status-offline: var(--_color8) !important;
  --status-streaming: var(--_color5) !important;

  --titlebar-color: var(--accent);
  --interactive-hover: #494949 !important;
  --interactive-active: #7a7a7a !important;
}
