@font-face {
  font-family: "Unifont";
  src:
    local("Unifont"),
    url(https://cynosphere.gitlab.io/Customizations/discord/assets/unifont-14.0.01.ttf)
      format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Terminus (TTF)";
  src:
    local("Terminus (TTF)"),
    url(https://cynosphere.gitlab.io/Customizations/discord/assets/TerminusTTF-4.47.0.ttf)
      format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Terminus (TTF)";
  src:
    local("Terminus (TTF)"),
    url(https://cynosphere.gitlab.io/Customizations/discord/assets/TerminusTTF-Bold-4.47.0.ttf)
      format("truetype");
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family: "Terminus (TTF)";
  src:
    local("Terminus (TTF)"),
    url(https://cynosphere.gitlab.io/Customizations/discord/assets/TerminusTTF-Bold%20Italic-4.47.0.ttf)
      format("truetype");
  font-weight: bold;
  font-style: italic;
}
@font-face {
  font-family: "Terminus (TTF)";
  src:
    local("Terminus (TTF)"),
    url(https://cynosphere.gitlab.io/Customizations/discord/assets/TerminusTTF-Italic-4.47.0.ttf)
      format("truetype");
  font-weight: normal;
  font-style: italic;
}

:root,
.theme-dark,
.theme-light {
  --font-primary: "Terminus (TTF) for Windows", "Terminus (TTF)",
    "Sazanami Gothic", "UnifontBitmap", "Unifont Windows", "Unifont", monospace,
    Twemoji !important;
  --font-display: "Terminus (TTF) for Windows", "Terminus (TTF)",
    "Sazanami Gothic", "UnifontBitmap", "Unifont Windows", "Unifont", monospace,
    Twemoji !important;
  --font-code: "Terminus (TTF) for Windows", "Terminus (TTF)", "Sazanami Gothic",
    "UnifontBitmap", "Unifont Windows", "Unifont", monospace !important;

  --_font-titlebars: var(--font-primary) !important;
}

[class*="menu_"] [class^="item_"],
[class^="containerDefault_"]
  > [class^="iconVisibility_"]
  > [class^="content_"]
  [class^="name_"] {
  font-size: 16px;
  text-transform: none;
  font-weight: 500;
}
[class^="containerDefault_"]
  > [class^="iconVisibility_"]
  > [class^="mainContent_"]
  [class^="name_"],
[class^="membersGroup_"],
[class^="headerContent_"] > [class^="name_"] {
  font-size: 16px;
  text-transform: none !important;
  font-weight: 600;
}

[class^="reaction_"] [class*="reactionCount_"] {
  font-size: 12px;
}

.hh2-spotify-controls-album-name,
.showTag-username {
  color: var(--highlight) !important;
  font-size: 12px !important;
}

[class^="sidebar_"]
  > [class^="container_"]
  > [class^="container_"]
  > [class^="header_"]
  > [class^="name_"],
[class*="heading-md-medium_"],
[class*="heading-md-normal_"] {
  font-size: 16px !important;
}

[class*="edited_"],
[class*="botTag_"] [class*="botText_"],
span[class="role-tag"],
.antiDelete-deleted-suffix {
  font-size: 12px !important;
}

[class^="latin12CompactTimeStamp_"],
[class^="latin24CompactTimeStamp_"],
[class^="asianCompactTimeStamp_"],
[class^="embedFooterText_"] {
  font-size: 0.75em !important;
}

[class^="codeBlockText_"],
[class^="codeLine_"],
[class*="after_inlineCode_"],
[class*="before_inlineCode_"],
[class^="inlineCode_"] {
  font-size: 12px !important;
}

.hljs-ansi-style-bold {
  font-weight: 0;
}

[class^="markdown_"] [class^="codeInline_"],
code.inline,
.hljs {
  font-size: 12px !important;
}

[class^="markdown_"] code,
[class^="markdown_"] [class^="codeInline_"],
code.inline {
  line-height: 12px !important;
}

[class^="markup_"] ol,
[class^="markup_"] ul {
  margin: 4px 0 0 24px !important;
}

.hljs.ansi {
  line-height: 12px !important;
}
