@font-face {
  font-family: "Unifont";
  src:
    local("Unifont"),
    url(https://cynosphere.gitlab.io/Customizations/discord/assets/unifont-14.0.01.ttf)
      format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Unifont";
  src:
    local("Unifont"),
    url(https://cynosphere.gitlab.io/Customizations/discord/assets/unifont-14.0.01.ttf)
      format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Terminus (TTF)";
  src:
    local("Terminus (TTF)"),
    url(https://cynosphere.gitlab.io/Customizations/discord/assets/TerminusTTF-4.47.0.ttf)
      format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Terminus (TTF)";
  src:
    local("Terminus (TTF)"),
    url(https://cynosphere.gitlab.io/Customizations/discord/assets/TerminusTTF-Bold-4.47.0.ttf)
      format("truetype");
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family: "Terminus (TTF)";
  src:
    local("Terminus (TTF)"),
    url(https://cynosphere.gitlab.io/Customizations/discord/assets/TerminusTTF-Bold%20Italic-4.47.0.ttf)
      format("truetype");
  font-weight: bold;
  font-style: italic;
}
@font-face {
  font-family: "Terminus (TTF)";
  src:
    local("Terminus (TTF)"),
    url(https://cynosphere.gitlab.io/Customizations/discord/assets/TerminusTTF-Italic-4.47.0.ttf)
      format("truetype");
  font-weight: normal;
  font-style: italic;
}

:root,
.theme-dark,
.theme-light {
  --font-primary: "UnifontBitmap", "Unifont Windows", "Unifont", monospace,
    "Twemoji" !important;
  --font-display: "UnifontBitmap", "Unifont Windows", "Unifont", monospace,
    "Twemoji" !important;
  --font-code: "Terminus (TTF) for Windows", "Terminus (TTF)", "Sazanami Gothic",
    "UnifontBitmap", "Unifont Windows", "Unifont", monospace !important;
}

.sjis {
  font-family: "Sazanami Gothic" !important;
}

[class*="menu_"] [class^="item_"],
[class^="containerDefault_"] [class^="name_"],
[class^="membersGroup_"] {
  font-size: 16px;
  text-transform: none !important;
  font-weight: 500;
}
